body {
    background-color: #e0f7fa;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #00796b;
    font-size: 2.5em;
}

h2 {
    color: #004d40;
    font-size: 2em;
}

h3 {
    color: #d32f2f;
    font-size: 3em;
}

p {
    color: #555;
    font-size: 1.2em;
}

.container {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.img-fluid {
    max-width: 150px;
    margin: 20px auto;
}